/*// Set Colors*/

$white: #ffffff;
$primary: #363636;
$greenCustom: #59CF84;
$redCustom: #E35F5F;
$dGreyCustom: #757575;
.modal-mask {
    position: absolute;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto 32rem;
    padding: 20px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: "Quicksand", Arial;
    /* Title */
    .title {
        text-align: left;
        position: relative;
        z-index: 1;
        border-left: 5px solid $greenCustom;
        margin: 0 -15px 15px;
        padding: 10px 0 10px 15px;
        color: $greenCustom;
        font-size: 26px;
        font-weight: 300;
    }
    /* Inputs */
    .input-container {
        position: relative;
        margin: 0 0px 20px;
        input,
        textarea {
            outline: none;
            z-index: 1;
            position: relative;
            background: none;
            width: 100%;
            height: 50px;
            border: 0;
            color: #212121;
            font-size: 16px;
            &:focus {
                ~ label {
                    color: #9d9d9d;
                    transform: translate(-12%, -40%) scale(0.75);
                }
                ~ .bar {
                    &:before,
                    &:after {
                        width: 50%;
                    }
                }
                ~ .tag-tip {
                    visibility: visible;
                }
            }
            &:valid:not(#guest) {
                ~ label {
                    color: #9d9d9d;
                    transform: translate(-12%, -40%) scale(0.75);
                }
            }
        }
        input:-webkit-autofill {
            color: #fff !important;
        }
        textarea {
            padding: 5px;
            font-size: 13.5px;
            font-style: italic;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: vertical;
            max-height: 100px;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            color: $dGreyCustom;
            font-size: 16px;
            font-weight: 300;
            line-height: 60px;
            z-index: 3;
            transition: 0.2s ease;
        }
        .bar {
            position: absolute;
            left: 0;
            bottom: 0;
            background: $dGreyCustom;
            width: 100%;
            height: 1px;
            z-index: 4;
            &:before,
            &:after {
                content: '';
                position: absolute;
                background: $greenCustom;
                width: 0;
                height: 2px;
                transition: 0.2s ease;
            }
            &:before {
                left: 50%;
            }
            &:after {
                right: 50%;
            }
        }
        .tag-tip {
            visibility: hidden;
            position: absolute;
            padding-top: 3px;
            color: grey;
            font-style: italic;
            font-size: 11px;
        }
        .label-guest {
            transform: translate(-12%, -40%) scale(0.75);
        }
        .help-block {
            font-size: 11px;
            position: absolute;
            color: $redCustom;
        }
        .error {
            font-size: 11px;
            position: absolute;
            color: $redCustom;
        }
        .form-control-feedback {
            background-color: white;
            margin-top: 9px;
            width: 25px;
        }
        .glyphicon-remove {
            color: $redCustom;
        }
        .glyphicon-ok {
            color: $greenCustom;
        }
    }
    /* Button */
    .button-container {
        margin-top: 30px;
        margin-bottom: 15px;
        text-align: center;
        button {
            outline: 0;
            cursor: pointer;
            position: relative;
            display: inline-block;
            background: 0;
            width: 160px;
            border: 2px solid #e3e3e3;
            padding: 15px 0;
            font-size: 16px;
            line-height: 1;
            text-transform: uppercase;
            overflow: hidden;
            transition: .3s ease;
            span {
                position: relative;
                z-index: 1;
                color: #ddd;
                transition: .3s ease;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                background: $greenCustom;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin: -15px 0 0 -15px;
                opacity: 0;
                transition: .3s ease;
            }
            &:hover,
            &:active,
            &:focus {
                border-color: $greenCustom;
                span {
                    color: $greenCustom;
                }
            }
            &:active,
            &:focus {
                span {
                    color: $white;
                }
                &:before {
                    opacity: 1;
                    transform: scale(10);
                }
            }
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 10px 0px;
        height: 35px;
        width: 270px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        color: $greenCustom;
        font-weight: bold;
        border-color: $greenCustom;
        background-color: white;
        outline: none;
    }
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    color: white;
    border-width: 0px;
    background-color: $greenCustom;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    outline: none;
}

.modal-enter,
.modal-leave {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

.form-control:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-control:focus {
    border-bottom: 2px $greenCustom solid;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group {
    width: 270px;
    .form-control {
        margin-bottom: 7px;
        border-radius: 5px;
    }
}

.small {
    position: relative;
    float: right;
    width: 5rem;
    height: 5rem;
    text-align: center;
    cursor: pointer;
    color: $greenCustom;
    font-size: 16px;
    line-height: 5rem;
    z-index: 10;
}


/*Tags*/

.tag {
    background: white;
    border: 1px solid;
    border-color: $greenCustom;
    border-radius: 2px;
    color: $greenCustom;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 0px 4px;
    margin: 2px;
}

.tag-i {
    color: $greenCustom;
}

.tag:hover,
.tag-i:hover {
    color: #9d9d9d;
    border-color: #9d9d9d;
    text-decoration: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.event-list {
    margin-bottom: 20px;
    .list-group-item {
        text-align: center;
        margin: 15px 0px;
        .btn-danger {
            border: none;
            background-color: lightgrey;
            top: 15px;
            right: 15px;
            position: absolute;
            &:hover {
                background-color: $greenCustom;
            }
        }
        table {
            word-wrap: break-word;
            color: #777;
            display: inline-block;
            th {
                max-width: 280px;
                border-bottom: 1px #ddd solid;
                text-align: center;
                font-size: 26px;
            }
            tr,
            td {
                max-width: 280px;
                text-align: center;
                padding: 3px 10px;
            }
            i {
                color: $greenCustom;
            }
            .host-by {
                font-size: 12px;
                font-style: italic;
            }
            .event-host {
                font-size: 16px;
                color: $greenCustom;
            }
            .user-one {
                color: #51B576;
            }
            .user-two {
                margin: -8px;
            }
            .event-des {
                font-style: italic;
            }
        }
    }
}

.toolTip + .tooltip > .tooltip-inner {
    z-index: 30;
    background-color: $redCustom;
    color: #FFFFFF;
    border: 1px solid $redCustom;
}


/* Tooltip on bottom */

.toolTip + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid $redCustom;
}

.time-label {
    margin-bottom: 2px;
    padding-left: 5px;
    color: $greenCustom;
}

.login {
    text-align: center;
    .login-a {
        cursor: pointer;
        color: lightgrey;
        text-decoration: none;
    }
    .login-a:hover,
    .login-a:focus {
        font-weight: bold;
        color: $greenCustom;
    }
}

.help-block-2 {
    margin-top: 7px;
    font-size: 11px;
    position: absolute;
    color: $redCustom;
}
